@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Roboto:wght@400;500;700&display=swap'); 
@font-face { 
    font-family: 'Up-and-Down';
    src: url(assets/fonts/Up-and-Down-Rough\ .ttf) format(truetype)        
}


:root {
    --color-primary: #D4D5A4;
    --color-secondary: rgb(8, 53, 8);
    --color-degrade: color: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    --light:white; 
    --dark: black;
    --text-family-paragraph: 'roboto'; 
    --text-family-title: 'Up-and-Down'; 
    --text-size-paragraph: 1rem;
    --text-size-title: 2.5rem;
    --spacing-0: 0.5rem;
    --spacing-1: 1rem;
    --spacing-2: 2rem;  
    --spacing-3: 3rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

    background-color: var(--color-primary);
    font-family: var(--text-family-paragraph);
}

header {
    background-image: url(assets/images/groot-header.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

nav ul {
    margin: 0;
    padding: var(--spacing-2);
   list-style-type: none;
   display: flex;   
}

nav ul li a {
    text-decoration: none;
    color: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    padding: var(--spacing-2);
    font-size: var(--text-size-title);
    font-family: 'Up-and-Down', sans-serif;  
}




/* EXPERIENCE */

.experiences {
    min-height: 200rem;
    background-color: green;
}

.barre {
    height: 2116px;
    width: 8px;
    margin: 0 auto;
    background-color: var(--dark);
    border-radius: 1rem;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%);    
}

.circle-box {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    
}

.circle-article {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--dark);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}


.circle1 {top: calc(calc(var(--spacing-3)*3.5) - 15px);}
.circle2 {top: calc(calc(var(--spacing-3)*10.5) - 15px);}
.circle3 {top: calc(calc(var(--spacing-3)*17.5) - 15px);}
.circle4 {top: calc(calc(var(--spacing-3)*24.5) - 15px);}
.circle5 {top: calc(calc(var(--spacing-3)*31.5) - 15px);}
.circle6 {top: calc(calc(var(--spacing-3)*38.5) - 15px);}



.articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, calc(var(--spacing-3)*7));
    column-gap: calc(var(--spacing-3)*3);
    row-gap: calc(var(--spacing-3)*7);
    margin: var(--spacing-3);
    position: relative
}


.article-timeline {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #D4D5A4;
    height: calc(var(--spacing-3)*7);
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}


.text-article {
    padding: 2rem 2rem;
}

.text-article h2 {
    margin-bottom: var(--spacing-1);
}


.article-timeline img {
    width: 100%;
    height: 100%;
    border-radius: 0 5px 5px 0;
    object-fit: cover;
    
}


.article-timeline:nth-child(even) {
    transform: translateY(100%);

}

.article-timeline {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #D4D5A4;
}


.article-timeline p {
    font-size: var(--spacing-1);
    line-height: 150%;
}












/* CONTACT 

.contact {
    display: flex;
    justify-content: center;
    gap: var(--spacing-3);
}


.form {
    display: flex;
    flex-direction: column;
    width: 35vw;
    padding: var(--spacing-2);

    box-shadow: 0px 2px 20px 1px rgba(35, 160, 35, 0.3);
    border-radius: var(--spacing-0);  
    margin-bottom: var(--spacing-2);
    gap: calc(var(--spacing-3)*1.5);
    
}


#formulaire input, textarea {
    background-color: #feffd5;
    width: 100%;
    padding: var(--spacing-1);
    margin: var(--spacing-0) 0;
    font-family: var(--text-family-paragraph);
    font-size: var(--text-size-paragraph);
    font-weight: bold;
    border-radius: var(--spacing-0);
    border: 1px solid #f6f7b9;
    color: green;
}

#formulaire textarea {
    margin-top: var(--spacing-3);
    resize: none;
}

#formulaire button {
    font-family: var(--text-family-paragraph);
    text-transform: uppercase;
    font-size: calc(var(--text-size-paragraph) * 1);
    font-weight: bold;
    color: var(--light);
    background-color: green;
    border: 1px solid green;
    border-radius: var(--spacing-0);
    padding: var(--spacing-1);
    margin-top: var(--spacing-0);
    width: 8vw;   
}

#formulaire button:active {
    transform:scale(0.7);
    transition: 0.2s;
}

.info {
    position: relative;
}

.contact-info {
    margin-bottom: var(--spacing-2);

}

.contact-info p {
    color: var(--color-secondary);
    font-weight: bold;
    line-height: var(--spacing-1);
}

.contact-info span {
    font-size: calc(var(--text-size-paragraph)*1.3);
}

.reseaux {
    display: flex;
    gap: var(--spacing-1);
}

.circle-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:green ;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.circle-logo:hover {
    background: rgba(0, 128, 0, 0.493);
    transform:scale(1.1);
    transition: 0.2s ease;
    
}

.groot-footer {
    position: absolute;
    bottom: 0;
    left: 50px;  
}
*/




