@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Roboto:wght@400;500;700&display=swap'); 
@font-face { 
    font-family: 'Up-and-Down';
    src: url(assets/fonts/Up-and-Down-Rough\ .ttf) format(truetype)        
}

:root {
    /* colors */
    --color-primary: #D4D5A4;
    --color-secondary: rgb(2, 15, 2);
    --color-tertiary: #1A4C1F;
    --color-degrade: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    --color-text: #7DD84C;
    --color-contact: #57B925;
    --light:white; 
    --dark: black;
    
    /* text style */
    --text-family-paragraph: 'roboto'; 
    --text-family-title: 'Up-and-Down'; 
    --text-size-paragraph: 1rem;
    --text-size: 2.5rem;
    --text-size-title: 4rem;
    --text-size-title-mobile: 3rem;

    /* espacement */
    --spacing-0: 0.5rem;
    --spacing-1: 1rem;
    --spacing-2: 2rem;  
    --spacing-3: 3rem;

    /* z-index */
    --firstplan: 4;
    --secondplan: 3;
    --thirdplan: 2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    background-image: url(assets/images/forest.jpg);
    background-attachment: fixed;
}

/* TODO HEADER NAVIGATION */
header {
    background-image: url(assets/images/groot-header.jpg);
    width: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    background: linear-gradient(to bottom,  rgba(0, 0, 0, 0.751) 0%,rgba(0, 0, 0, 0.567),rgba(0,0,0,0));
    padding-bottom: calc(var(--spacing-3) * 2);
    padding-top: var(--spacing-1);

}

nav ul {
    margin: 0;
    padding: var(--spacing-1);
    gap: var(--spacing-3);
    list-style-type: none;
    display: flex; 
    flex-wrap: wrap;  
}

nav ul li a {
    background: linear-gradient(180deg, #7DD84C 40%, #2e7d07 55%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: var(--spacing-2);
    font-size: var(--text-size);
    font-family: 'Up-and-Down', sans-serif;
    text-decoration: none;
}
nav ul li a:hover {
    filter: drop-shadow(0px 0px 20px rgba(128, 255, 0, 0.546));
    transition: all 0.2s ease-in-out;
}


.groot-mini {
    position: absolute;
    bottom: -113px;
    left: calc(var(--spacing-3) * 2);
    height: 35rem;
    filter : drop-shadow(-1rem 2rem 0.2rem rgba(0, 0, 0, 0.184));
    z-index: 2;
}

.description {
    padding-bottom: var(--spacing-2);
}

h1 {
    background: linear-gradient(180deg, #7DD84C 65%, #2e7d07 140%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0.2rem 0.2rem 0.2rem black);
    font-family: 'Up-and-Down' , sans-serif;
    font-size: var(--text-size-title);
}

.presentation h1 {
    padding-top: var(--spacing-3);
}

.title-experiences, .title-hobbies, .title-contact, .title-competences {
    padding: 3rem 0 0 5rem;
}

.presentation p {
    color: var(--color-tertiary);
    padding : 2rem 0;
    line-height: calc(var(--spacing-1) * 2);
    letter-spacing: 0.1rem;
    font-family: var(--text-family-paragraph), sans-serif;
    font-weight:410;
}

.description {
    background-color: var(--color-primary);
    position: relative;
}

.presentation .title-presentation, .text-presentation {
    margin-left: 35%;
}

.burger {
    display: none;
}

.groot-dirt {
    background-image: url(assets/images/groot-dirt.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 50vh;
}


/* TODO MAIN EXPERIENCE */
.experiences {
    height: 3700px;
}

.experiences h1 {
    padding-top: calc(var(--spacing-3) * 2);
}

.barre {
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: -11%;
    left: 50%;
    transform: translate(-50%);
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.196));
}

.circle-box {
    /* display: none; */
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    
}

.circle-article {
    /* width: 40px;
    height: 40px;
    clip-path: polygon(50% 0, 60% 0, 60% 100%, 50% 100%, 0% 50%); */
    background-color: var(--color-primary);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.circle-article:nth-child(even) {
    clip-path: polygon(40% 0, 50% 0, 100% 50%, 50% 100%, 40% 100%);
}

.circle1 {top: calc(100px - 15px);}
.circle2 {top: calc(650px - 15px);}
.circle3 {top: calc(1200px - 15px);}
.circle4 {top: calc(1750px - 15px);}
.circle5 {top: calc(2300px - 15px);}
.circle6 {top: calc(2850px - 15px);}

.articles {
    width : 100%;
    height: 1500px;
    position: relative;
    margin-bottom: 100px;
}

.article-timeline {
    background: var(--color-primary);
    font-size: var(--spacing-1);
    width: 30vw;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color: var(--color-secondary);
}

.article-timeline p {
    font-family: var(--text-family-paragraph);
    font-size: var(--text-size-paragraph);
    padding: 10px 30px;
    letter-spacing: 1px;
    line-height: calc(var(--spacing-1)*1.5);
    padding: 2rem;

}

.article-timeline h2 {
    color: var(--color-tertiary);
    font-family: var(--text-family-paragraph);
    font-size: calc(var(--text-size-paragraph)*1.8);
    font-weight: bold;
    padding: 1rem 0 0 2rem;
}

.article-timeline img {
    width: 100%;
    height: 250px;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
}

.article1 img { object-position: 50% 25%; }
.article2 img { object-position: 50% 28%; }
.article3 img { object-position: 50% 47%; }
.article4 img { object-position: 50% 20%; }
.article5 img { object-position: 50% 52%; }
.article6 img { object-position: 50% 30%; }

/* position articles */
.article1 {
    top: calc(100px - 15px);
    left: calc(50% - 370px);
}
.article2 {
    top: calc(650px - 15px);
    left: calc(50% + 370px);
}
.article3 {
    top: calc(1200px - 15px);
    left: calc(50% - 370px);
}
.article4 {
    top: calc(1750px - 15px);
    left: calc(50% + 370px);
}
.article5 {
    top: calc(2300px - 15px);
    left: calc(50% - 370px);
}
.article6 {
    top: calc(2850px - 15px);
    left: calc(50% + 370px);
}

/* TODO COMPETENCES */
.competences {
    background: var(--color-primary);
    z-index: var(--firstplan);
    padding-bottom: 1rem;
}

.competences h1 {
    padding-top: calc(var(--spacing-3) * 2);
    margin-bottom: 3rem;
}

.competences input {
    display: none;
}

.container {
    display: block;
    margin: auto;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 600px;
}

.cards {
    position: relative;
    height: 600px;
    width: 20rem;
    margin-bottom: 0px;
    perspective: 800px;
    transform-style: preserve-3d;
}

.cards label {
    position: absolute;
    width: 400px;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.2s ease;
}


.cards .card {
    position: relative;
    height: 100%;
    border-radius: 5px;
    padding: 0px;
}

.card .image img {

    border-radius: 10px;
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.card .infos {
    display: flex;
    text-align: end;
    margin: 0px;
}

.infos {
    display: flex;
    justify-content: center;

}

.infos h2 {
    font-family: var(--text-family-paragraph);
    font-size: 25px;
    color: var(--current-color1);
    color: var(--color-primary);
    margin-top: .5rem;
    transform: translateY(-220%);
}

.container-skill {
  width: 90vw;
  margin: 5rem auto;
  gap: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content-skill {
  width: 50vw;
  height: 100%;
  margin: auto;
  background: var(--color-primary);
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.3);
  
}

.content-skill p {
    font-family: var(--text-family-paragraph);
    font-size: var(--text-size-paragraph);

    letter-spacing: 1px;
    line-height: calc(var(--spacing-1)*1.5);
    padding: 3rem;
}

#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-70%, 0, -220px);
}

#s1:checked~.cards #slide5,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-35%, 0, -120px);
    border-radius: 5px;
}

#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5 {
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
    transform: translate3d(0, 0, 0);
}

#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(35%, 0, -120px);
}

#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(70%, 0, -220px);
}

ul { 
  padding: 0;
  margin: 0 auto;
  position: relative;
  list-style: none;
}

.summary ul li img {
  width: 2.5rem;
  margin: 2px 0 0 10px;
}


.skills .summary{
    width: 45vw;
    padding: 0 3rem;
    margin: 0 auto;
}

.skills .summary .summary_header{
    font-size: 30px;
    margin-bottom: 12px;
    letter-spacing: 2px;
    padding-bottom: 0;
    line-height: 30px;
}

.skills .summary .items_wrapper .item{
    position: relative;
    height: 45px;
    color:#22220f !important;
    background: #D4D5A4;
    /*border-top:5px solid #dfe0a0;*/
    border-radius: 5px; 
    padding-right: 9px;
    margin-bottom: 20px;
    line-height: 45px;
    box-shadow: 2px 0px 15px rgba(0, 0, 0, 45%);
}

.skills .summary .items_wrapper .item .icon{
    width: 55px;
    height: 45px;
    line-height: 45px;
    padding: 0;
    margin: 0;
    float: left;
    display:block;
    font-family: 'FontAwesome', sans-serif;
    font-weight:normal;	
    color:#8f3e2a;
    text-align: center;
    font-size: 35px;
}

.skills .summary .items_wrapper .progress{
    margin: 0;
    position: absolute;
    left: 60px;
    right: 70px;
    top: 18px;
    height: 10px;
    margin-top: 2px;
}

.skills .summary .items_wrapper .progress .bar{
  border-radius: 17px;
  background: #D4D5A4;
  border-radius: 4px;
}

.skills .summary .items_wrapper .percentage{
    color: var(--color-tertiary);
    font-size: 20px;
  	font-weight:700;		
	  font-family: 'Roboto'; 
    float: right;
}

.bar { 
	line-height: 10px;
    height: 13px;
    bottom: 1px;
	margin: 0;
    padding: 1px;
     background-color: var(--color-contact) !important;
    /*linear-gradient(135deg, rgb(0, 165, 0) 20%, rgb(0, 189, 16) 50%, rgb(115, 255, 0))!important; */
	position:absolute;
}

.force { 
  width:70%;  
  animation:force 2s ease-out;
}
.durabiliter { 
  width:85%;
  animation:durabiliter 2s ease-out; 
}
.manipulation { 
  width:70%;  
  animation:manipulation 2s ease-out;
}
.guerison { 
  width:75%;  
  animation:guerison 2s ease-out;
}
.longeviter { 
  width:100%;  
  animation:longeviter 2s ease-out;
}
.combattant { 
    width:75%;  
    animation:combattant 2s ease-out;
}
  .multilinguisme { 
    width:100%;  
    animation:multilinguisme 2s ease-out;
 } 



@keyframes force { 
  0%  { width:0px;} 
  100%{ width:70%;}  
}
@keyframes durabiliter {
  0%  { width:0px;} 
  100%{ width:85%;}  
}
@keyframes manipulation {
  0%  { width:0px;}
  100%{ width:70%;}
}
@keyframes guerison {
  0%  { width:0px;} 
  100%{ width:75%;}  
}
@keyframes longeviter {
  0%  { width:0px;} 
  100%{ width:100%;}  
}


/* TODO HOBBIES */
.hobbies {
    height: 100vh;

    position: relative;
}

.container-menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35vw;
    height: 35vw;
}

/* Style Groot picture */
.btn-menu {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.2s ease-in-out;

    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    z-index: var(--secondplan);
}

.btn-menu img {
    height: 100%;
    width: 100%;
}

.btn-menu img:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 20px rgba(128, 255, 0, 0.546));
}

/* Style icones */
.blob {
    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--color-primary);
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blob img {
    width: 5vw;
}

.blob:hover {
    background: green;
    filter: drop-shadow(0px 0px 20px rgba(128, 255, 0, 0.546));
    transform: translate(-50%, -50%) scale(1.1);
    cursor: pointer;
}

/* Animation retour icone */
.blob-1 {
    transition: left 0.2s 0.1s ease-in-out,
    top top 0.5s 0.1s ease-in-out;
}
.blob-2 {
    transition: left 0.3s 0.1s ease-in-out,
    top 0.3s 0.1s ease-in-out;
}
.blob-3 {
    transition: left 0.4s 0.1s ease-in-out,
    top 0.4s 0.1s ease-in-out;
}
.blob-4 {
    transition: left 0.5s 0.1s ease-in-out,
    top 0.5s 0.1s ease-in-out;
}
.blob-5 {
    transition: left 0.6s 0.1s ease-in-out,
    top 0.6s 0.1s ease-in-out;
}
.blob-6 {
    transition: left 0.7s 0.1s ease-in-out,
    top 0.7s 0.1s ease-in-out;
}
.blob-7 {
    transition: left 0.8s 0.1s ease-in-out,
    top 0.8s 0.1s ease-in-out;
}
.blob-8 {
    transition: left 0.9s 0.1s ease-in-out,
    top 0.9s 0.1s ease-in-out;
}

/* Animation bouton menu cercle */
.container-menu.active .btn-menu {
    filter: drop-shadow(0px 0px 20px rgba(128, 255, 0, 0.546));
    transform: translate(-50%, -50%) scale(1.1);
    transition: all 0.2s ease-in-out;
}

/* Animation bouton icone */
.container-menu.active .blob-1 {
    left: 50%;
    top: 0;
    transition: left 0.2s 0.1s ease-in-out,
    top 0.2s 0.1s ease-in-out;
}

.container-menu.active .blob-2 {
    left: 85%;
    top: 15%;
    transition: left 0.3s 0.1s ease-in-out,
    top 0.3s 0.1s ease-in-out;
}

.container-menu.active .blob-3 {
    left: 100%;
    transition: left 0.4s 0.1s ease-in-out,
    top 0.4s 0.1s ease-in-out;
}

.container-menu.active .blob-4 {
    left: 85%;
    top: 85%;
    transition: left 0.5s 0.1s ease-in-out,
    top 0.5s 0.1s ease-in-out;
}

.container-menu.active .blob-5 {
    top: 100%;
    transition: left 0.6s 0.1s ease-in-out,
    top 0.6s 0.1s ease-in-out;
}
.container-menu.active .blob-6 {
    left: 15%;
    top: 85%;
    transition: left 0.7s 0.1s ease-in-out,
    top 0.7s 0.1s ease-in-out;
}
.container-menu.active .blob-7 {
    left: 0;
    transition: left 0.8s 0.1s ease-in-out,
    top 0.8s 0.1s ease-in-out;
}
.container-menu.active .blob-8 {
    left: 15%;
    top: 15%;
    transition: left 0.9s 0.1s ease-in-out,
    top 0.9s 0.1s ease-in-out;
}

/* Style modale */
.modal-container {
    /* display: none; */
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: visibility 0.4s;
    z-index: var(--firstplan);
}

/* Animation modale */
.modal-container.active {
    /* display: block; */
    visibility: visible;
}

/* Style overlay arrière-plan */
.overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
    transition: opacity 0.4s 0.2s ease-out;
}

/* Animation overlay */
.modal-container.active .overlay {
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

/* Style modale */
.modal {
    overflow: auto;
    opacity: 0;
    width: 40vw;
    height: 45vh;
    background-color: var(--color-primary);
    border-radius: 5px;

    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 50px));
    transition: opacity 0.4s ease-in-out,
    transform 0.4s ease-out;
}

.modal-content {
    width: 100%;
    height: 100%;
}

.modal-image-container {
    width: 100%;
    height: 60%;
    border-radius: 5px 5px 0 0;
}

/* Images modales */
.modal-image-container.img1 {
    background: url(assets/images/groot-modal-music.jpeg);
    background-position: 0 -6rem ;
    background-size: cover;
}

.img2 {
    background: url(assets/images/groot-modal-cosplay.jpg);
    background-position: 0rem -7rem;
    background-size: 120%;
}

.img3 {
    background: url(assets/images/groot-modal-dance.png);
    background-position: center;
    background-size: cover;
}

.img4 {
    background: url(assets/images/groot-modal-game.jpg);
    background-position: center;
    background-size: cover;
}

.img5 {
    background: url(assets/images/groot-modal-food.jpg);
    background-position: center;
    background-size: cover;
}

.img6 {
    background: url(assets/images/groot-modal-nature.jpg);
    background-position: center;
    background-size: cover;
}

.img7 {
    background: url(assets/images/groot-modal-book.jpg);
    background-position: center;
    background-size: cover;
}

.img8 {
    background: url(assets/images/groot-modal-draw.png);
    background-position: center;
    background-size: cover;
}

/* Style contenus modales */
.modal-content h2 {
    font-family: var(--text-family-paragraph);
    font-size: calc(var(--text-size-paragraph)*1.8);
    font-weight: bold;
    padding: 8px 30px;
    color: var(--color-tertiary);
}

.text-modal {
    font-family: var(--text-family-paragraph);
    font-size: var(--text-size-paragraph);
    padding: 10px 30px;
    letter-spacing: 1px;
    line-height: calc(var(--spacing-1)*1.5);
    color: var(--color-secondary);
}



/* Animation modale */
.modal-container.active .modal {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s 0.2s ease-in-out,
    transform all 0.4s 0.2s ease-in-out;
}

/* Style fermeture modale */
.close-modal {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: var(--text-size-paragraph);
    color: var(--light);
    background: green;
    cursor: pointer;

    position: absolute;
    top: 10px;
    right: 10px;
}

/* TODO CONTACT */

.contact h1 {
    padding-bottom: var(--spacing-3);
}
.contact {
    height: 100vh;
}

.text-footer {
    font-family: var(--text-family-paragraph);
}

.contact {
    background: var(--color-primary);
    height: 100vh;
}

.content-form {
    display: flex;
    justify-content: center;
    gap: var(--spacing-3);
}

.form {
    display: flex;
    flex-direction: column;
    width: 35vw;
    padding: var(--spacing-2);
    box-shadow: 0px 2px 20px 1px rgba(35, 160, 35, 0.3);
    border-radius: var(--spacing-0);  
    gap: calc(var(--spacing-3)*1.5);
}
    
.form label {
    color: var(--color-secondary);
    font-family: var(--text-family-paragraph);
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

#formulaire input, #formulaire textarea, #formulaire select {
    background-color: #FDFEDD;
    width: 100%;
    padding: var(--spacing-1);
    margin: var(--spacing-0) 0;
    font-family: var(--text-family-paragraph);
    font-size: var(--text-size-paragraph);
    font-weight: bold;
    border-radius: var(--spacing-0);
    border: 1px solid #f6f7b9;
    color: var(--color-tertiary);
}

#formulaire textarea {
    margin-top: var(--spacing-3);
    resize: none;
}
    
#formulaire button {
    font-family: var(--text-family-paragraph);
    text-transform: uppercase;
    font-size: calc(var(--text-size-paragraph) * 1);
    font-weight: bold;
    color: var(--light);
    background-color: var(--color-contact);
    border: 1px solid var(--color-contact);
    border-radius: var(--spacing-0);
    padding: var(--spacing-1);
    margin-top: var(--spacing-0);
    width: 8vw; 
    background: var(--color-contact);
}

#formulaire button:active {
    transform:scale(0.7);
    transition: 0.2s;
}

::placeholder {
    color: var(--color-secondary);
}

.info {
    position: relative;
}

.contact-info {
    margin-bottom: var(--spacing-2);
    color: var(--color-tertiary);
}

    
.contact-info p {
    color: var(--color-tertiary);
    font-weight: bold;
    line-height: calc(var(--spacing-1) *1.5);
    margin-top: 5rem;
}

.contact-info span {
    font-size: calc(var(--text-size-paragraph)*1.3);
    color: var(--color-tertiary);
}

.reseaux {
    display: flex;
    gap: var(--spacing-1);
}
    
.circle-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-contact);
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.circle-logo a {
    transform: translateY(5%);
}

.circle-logo:hover {
    background: var(--color-contact);
    transform:scale(1.1);
    transition: 0.2s ease;
}

.groot-footer {
    position: absolute;
    bottom: 0rem;
    left: 0px;
    transform: translateY(5%);
}


@media screen and (max-width: 560px) {
    header {
        background-attachment: scroll;
        background-position: left;
        height: 100vh;
    }

    .description img {
        display: none;
    }

    nav {
        padding: 0;
        background: none;
    }
    
    .burger {
        color: var(--color-primary);
        display: flex;
        justify-content: end;
        padding: .5rem 2rem 0 .5rem;
        background-color: rgba(0, 0, 0, 0.9);
        transition: left 0.5s ease;

    }

    .burger svg {
        width: 40px;
        height: 40px;
    }

.links {
        display: none;
    }

.links:target {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding-bottom: 10rem;
        background-color: rgba(0, 0, 0, 0.9);
        line-height: 0.5rem;
}

    header {
        height: 50vh;
        background-position: center;
}

    .presentation p{
        justify-content: center;
        margin: auto;
        padding-top: 2.6rem;
        letter-spacing: 0;
        line-height: var((--spacing-1) * 1,3);
        padding-left: 2rem;
        padding-right: 2rem;
    }

    ul {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    
    .presentation .title-presentation {
        font-size: var(--text-size-title-mobile);
        margin-left: 5%;
    }

    .groot-dirt {
        background-attachment: scroll;
        background-position: center;
        height: 25vh;
    }
    
    main {
    height: 100%;
    background-color: var(--color-primary);
    }

    .experiences h1 {
        font-size: var(--text-size-title-mobile);
        padding: 3rem 0 0 5%;
    }


    .groot-footer {
        display: none;
    }

    .barre {
        display: none;
    }

    .article-timeline {
        width: 90vw;
    }

    .articles {
        height: 100vh;
    }

    .article1 {
        transform: translateX(25%);
    }

    .article2 {
        left: 50%;
        top: 80%;
    }
    .article3 {
        top: 144%;
        left: 50%;
    }
    .article4 {
        left: 50%;
        top: 214%;
    }
    .article5 {
        left: 50%;
        top: 283%;
    }
    .article6 {
        left: 50%;
        top: 355.5%;
    }

    .competences {
        padding-bottom: 1rem;
    }

    .competences h1 {
        padding: 5% 0 10% 5%;
        font-size: var(--text-size-title-mobile);
    }

    .container-skill {
        flex-direction: column;
    }

    .skills .summary {
        width: 100vw;
    }

    .content-skill {
        width: 85vw;
    }

    .hobbies {
        height: 80vh;
    }

    .title-hobbies {
        padding: 5% 0 0 5%;
        font-size: var(--text-size-title-mobile);
    }

    .container-menu {
        height: 70vw;
        width: 70vw;
    }

    .btn-menu {
        height: 40vw;
        width: 40vw;
    }

    .blob {
        width: 10vw;
        height: 10vw;
    }

    .blob img {
        width: 10vw;
    }

    .contact {
        height: auto;
        padding-bottom: 2rem;
    } 

    .title-contact {
        padding: 5% 0 0 5%;
        font-size: var(--text-size-title-mobile);
    }

    .content-form {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form {
        width: 80vw;
        margin-bottom: 0;
    }

    #formulaire button {
        width: 30vw;
    }

    .contact-info p {
        text-align: center;
        margin-top: 0;
    }

    .modal {
        width: 90vw;
        height: 70vh;
    }

    .modal-container.active .modal {
        top:50%;
    }

    .modal-image-container.img1  {
        background-position: 0;
    }        
    .modal-image-container.img2  {
        background-position: 0;
        background-size: cover;
    }      
    .modal-image-container.img3  {
        background-position: center;
        background-size: 165%;
    }      
}